.landing-page-content {
    display: flex;
    flex-direction: column;
    flex: 60%;
    padding: 60px;
    overflow-y: scroll;
    // height: 100vh;
    background-color: black;
    background: radial-gradient(92.19% 89.74% at 32.27% 91.27%, rgba(31, 169, 17, 0.81) 17.21%, #2F15D0 64.58%, rgba(0, 0, 0, 0.904) 100%);

    & > :first-child,
    & > :nth-child(2) {
        flex: 35%;
    }
  
    & > :nth-child(3) {
        flex: 30%;
    }
    &::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }
}